body {
    margin: 0;
}

h1 {
    font-family: sans-serif;
    margin: 0;
    padding: 10px 0 10px 20px; 
    background-color: black;
    color: white;
    height: 50px;
}

.box {
    min-height: 100px;
    height: auto;
    width: 100px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
}

#orange {
    border-color: orange;
    left: 50px;
    top: 150px;
}

#blue {
    border-color: blue;
    left: 300px;
    top: 190px;
}

#green {
    border-color: green;
    left: 300px;
    top: 450px;
}

#red {
    border-color: red;
    left: 300px;
    top: 320px;
}







